[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
facebook-sdk = "*"
python-dotenv = "*"
pillow = "*"
imageio = "*"
nltk = "*"
pandas = "*"
tqdm = "*"

[requires]
python_version = "3.7"
